.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(233, 201, 216);
}

.articles {
  grid-column-start: span 1;
  border-right: 1px solid rgb(207, 207, 207);
}

.article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1rem;
  background-image: linear-gradient(0deg, #963cff, #ff2882);
}

.articles img {
  width: 25rem;
}

#crest {
  height: 2rem;
}

p,
h1,
span,
table {
  margin: 1rem;
  vertical-align: middle;
}

p,
span {
  font-size: 0.8rem;
}

span {
  font-weight: bold;
}

#fixtures {
  width: 40rem;
}

.hide {
  display: none;
}

td {
  text-transform: capitalize;
  font-size: 0.8rem;
}

#home {
  text-align: right;
}

#away {
  text-align: left;
}

#score {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

#leagueLogo {
  height: 3rem;
}
