@use './assets/variables';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background: variables.$bg-colour;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: variables.$heading-bg-colour;

  body {
    .container {
      display: grid;
      grid-template-columns: auto minmax(auto, 1100px) auto;

      .headerContainer {
        grid-column-start: 2;
        width: 100%;
      }

      .contentContainer {
        grid-column-start: 2;
      }
    }

    #loadingIconContainer {
      position: absolute;
      width: 100%;
      top: 5.75rem;
    }
  }
}

.noScroll {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  html,
  body {
    #root {
      .container {
        display: flex;
        flex-flow: column;
        margin-top: 0;
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #root {
    .container {
      left: 0;
      transition: transform 300ms ease-in, -webkit-transform 300ms ease-in,
        -moz-transform 300ms ease-in;
      -webkit-transition: transform 300ms ease-in,
        -webkit-transform 300ms ease-in, -moz-transform 300ms ease-in;

      .headerContainer {
        z-index: 30;
      }
    }
  }
}
