* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-image: radial-gradient(
      circle,
      rgb(5, 66, 197, 0.9) 0%,
      rgba(7, 70, 165, 0.9) 60%,
      rgba(7, 6, 6, 0.788) 100%
    ),
    url("/assets/crowd-background.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  position: relative;

  body {
    overflow-y: auto;
  }
}
