$bg-colour: #5cdb95;
$heading-text-colour: #edf5e1;
$heading-bg-colour: #05386b;
$accent-important-colour: rgb(156, 65, 121);
$body-bg-dark: #379683;
$fixture-body-bg: #356ea7;
$fixture-body-bg-light: #4c85bd;
$modal-bg-colour: rgba(0, 0, 0, 0.7);
