$heading-text-colour: #ffffff;
$heading-bg-colour: rgb(61, 110, 175);
$accent-colour: rgb(170, 161, 30);
$accent-important-colour: rgb(156, 65, 121);
$body-bg-colour: rgb(109, 148, 201);
$modal-bg-colour: rgba(0, 0, 0, 0.637);
