@use '../assets/variables';

.fixturesLayout {
  display: grid;
  grid-template-columns: auto minmax(350px, auto) 300px;
  border-top: 10px solid variables.$heading-bg-colour;

  .filterContainer {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    padding: 0.5rem;
    border-right: 5px solid variables.$heading-bg-colour;
  }

  .tableAndNewsContainer {
    display: flex;
    flex-flow: column;
    padding: 0.5rem;
    border-left: 5px solid variables.$heading-bg-colour;
  }
}

@media screen and (max-width: 992px) {
  .fixturesLayout {
    display: grid;
    position: absolute;
    grid-template-columns: min-content auto;
    width: 100%;
    min-height: calc(100% - 2.75rem);

    .filterContainer {
      margin-top: 0;
      padding: 0;
      width: 200px;
      height: 100%;
    }

    .tableAndNewsContainer {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .fixturesLayout {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 100%;

    .filterContainer {
      position: absolute;
      right: 3.5rem;
      width: auto;
      height: auto;
      background-color: transparent;
    }

    .tableAndNewsContainer {
      display: none;
    }
  }
}
