@use '../assets/variables';

.datePickerContainer {
  display: flex;
  flex-flow: row;

  #calendarIcon {
    margin: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
  }

  .calendarModal {
    z-index: 15;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.637);

    .calendar {
      border: 3px solid variables.$accent-colour;
      display: flex;
      width: 35%;
      position: absolute;
      left: 50%;
      top: 10%;
      transform: translateX(-50%);
      flex-flow: column;
      background-color: rgb(255, 255, 255);

      #calendarToday {
        margin-right: 4rem;
        margin-left: 2rem;
        cursor: pointer;
      }
    }
  }

  .dateCarousel {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    align-self: center;
    white-space: pre;
    color: white;
    margin-bottom: 0.5rem;

    ul {
      list-style: none;
      display: flex;
      padding-left: 0;

      li {
        border-bottom: 0.15rem solid variables.$accent-colour;
        padding: 0 0.8rem 0.3rem 0.8rem;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;

        span {
          display: inline-block;
          cursor: pointer;
          transition: transform 0.1s ease-in;
        }

        span:hover {
          transform: translateY(-15%);
        }
      }

      #selectedDate {
        border-bottom: 0.15rem solid variables.$accent-important-colour;
      }
    }
  }

  .dateCarousel::-webkit-scrollbar {
    display: none;
  }

  .dateCarousel {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
  #calendarIcon {
    position: absolute;
    right: 0;
    top: 1.8rem;
  }

  .calendarModal {
    .calendar {
      width: 100% !important;
      border: none !important;
    }
  }
}
