@use '../assets/variables';

.datePickerContainer {
  display: flex;
  flex-flow: row;
  position: relative;

  .calendarContainer {
    margin: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;

    .calendar {
      z-index: 15;
      position: absolute;
      left: 0;
      margin-top: 1rem;
      padding-bottom: 1rem;
      width: 100%;
      background-color: white;
      border: 1px solid variables.$accent-colour;
      box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);

      .calendarButtons {
        display: flex;
        justify-content: space-evenly;

        button {
          width: 25%;
          height: 2rem;
          margin-top: 1rem;
          border: none;
          background-color: variables.$accent-colour;
          border-radius: 1rem;
          font-size: 1.1rem;
        }

        button:hover {
          color: white;
          background-color: variables.$accent-important-colour;
        }
      }
    }

    .calendar-enter {
      opacity: 0;
    }
    .calendar-enter-active {
      opacity: 1;
      transition: opacity 200ms ease-in;
    }
    .calendar-exit {
      opacity: 1;
    }
    .calendar-exit-active {
      opacity: 0;
      transition: opacity 200ms ease-in;
    }
  }

  .dateCarousel {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    width: 99%;
    align-self: center;
    white-space: pre;
    color: white;

    ul {
      list-style: none;
      display: flex;

      li {
        border-bottom: 0.15rem solid variables.$accent-colour;
        padding: 0 0.8rem 0.3rem 0.8rem;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
        transition: all 0.1s;
        cursor: pointer;
      }

      li:hover {
        filter: brightness(30%);
      }

      #selectedDate {
        border-bottom: 0.15rem solid variables.$accent-important-colour;
      }
    }
  }

  .dateCarousel::-webkit-scrollbar {
    display: none;
  }

  .dateCarousel {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
