@use "../assets/variables";

.filters {
  text-align: right;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: column;

  #filtersIcon {
    display: none;
  }
}

form {
  margin-right: 1rem;
  text-align: center;

  h4 {
    background-color: variables.$heading-bg-colour;
    color: variables.$heading-text-colour;
    padding: 0.5rem;
    margin: 0;
    margin-top: 0.75rem;
    margin-bottom: 0.3rem;
    text-align: right;
  }

  h4:first-child {
    margin-top: 0;
  }

  .selectContainer {
    display: grid;
    grid-template-columns: auto 0.5rem;
    height: 1.5rem;
    justify-content: right;

    select {
      width: 13rem;
      font-size: 0.75rem;
      background-color: variables.$body-bg-dark;
      border: none;
      color: variables.$heading-text-colour;
      height: 2rem;
    }
  }

  .sliderContainer {
    position: relative;
    display: grid;
    grid-template-columns: auto 0.5rem;
    grid-template-rows: auto auto;
    height: 1.5rem;

    .slider {
      grid-row-start: 2;
      -webkit-appearance: none;
      appearance: none;
      background: #000000;
      height: 1px;
      outline: 0 none !important;
      align-self: center;
    }

    .slider::-moz-range-track {
      background-color: black;
      height: 1px;
    }

    #sliderValue {
      grid-row-start: 1;
      font-weight: bold;
    }

    #clearFilterBtn {
      grid-row-start: 2;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 0.6rem;
      width: 0.6rem;
      border-radius: 50%;
      background: variables.$heading-bg-colour;
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      appearance: none;
      height: 0.6rem;
      width: 0.6rem;
      border-radius: 50%;
      border: none;
      background: variables.$heading-bg-colour;
      cursor: pointer;
    }

    .slider:disabled {
      opacity: 15%;
    }
  }

  .radioBtnContainer {
    display: grid;
    grid-template-columns: auto auto auto auto 0.5rem;
    margin-bottom: 0.5rem;

    input[type="radio"] {
      margin: 0;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    input[type="radio"]:after {
      width: 11px;
      height: 11px;
      border-radius: 11px;
      position: relative;
      background-color: variables.$body-bg-dark;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 1px solid variables.$heading-bg-colour;
    }

    input[type="radio"]:checked:after {
      width: 11px;
      height: 11px;
      border-radius: 11px;
      position: relative;
      background-color: variables.$heading-text-colour;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 1px solid variables.$heading-bg-colour;
    }
  }

  input[type="submit"] {
    background-color: variables.$body-bg-dark;
    color: variables.$heading-text-colour;
    border: none;
    font-size: 0.9rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }

  #clearFilterBtn {
    height: 1rem;
    align-self: center;
  }
}

@media screen and (max-width: 992px) {
  .filters {
    padding-bottom: 0;
    margin-top: 2rem;

    form {
      margin-top: 0.5rem;

      h4 {
        margin-top: 0.35rem;
        margin-bottom: 0.35rem;
      }

      select {
        padding: 0;
      }

      .radioBtnContainer {
        margin-bottom: 0.25rem;
        margin-top: 0.5rem;
      }

      input[type="submit"] {
        margin: 0.25rem;
      }

      #sliderValue {
        left: -8rem;
        top: -0.25rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .filters {
    position: relative;
    top: -1rem;

    #filtersIcon {
      display: block;
      position: relative;
      z-index: 30;
    }

    form {
      display: none;
    }
  }

  .filtersModal {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.637);
    z-index: 30;

    form {
      background-color: variables.$heading-bg-colour;
      width: 190px;
      padding: 1.5rem;
      margin: auto;

      h4 {
        text-align: center;
      }
    }
  }

  .filtersModal-enter {
    opacity: 0;
  }
  .filtersModal-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }
  .filtersModal-exit {
    opacity: 1;
  }
  .filtersModal-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-in;
  }
}
