@use "../assets/variables";

.fixturesContainer {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  margin-top: -0.1rem;
  border-top: 0.6rem solid variables.$heading-bg-colour;
  background-color: variables.$heading-bg-colour;

  .loadingIcon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 6px solid rgba(0, 0, 0, 0.4);
    border-top: 6px solid transparent;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    animation: spin 500ms linear infinite;
  }

  .loadingIcon::after {
    content: " ";
    height: 0.5rem;
    width: 0.5rem;
    border-top: 0.25rem solid rgba(0, 0, 0, 0.4);
    border-right: 0.25rem solid rgba(0, 0, 0, 0.4);
    position: relative;
    display: block;
    left: -25%;
    top: -10%;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .fixtures {
    position: relative;
    display: flex;
    transition: left 100ms linear;

    #loadingIconLeft,
    #loadingIconRight {
      position: absolute;
      width: 100%;
    }

    #loadingIconLeft {
      left: -100%;
    }

    #loadingIconRight {
      right: -100%;
    }

    .leagueFixturesContainer {
      width: 100%;
      border-top: 5px solid variables.$heading-bg-colour;

      .leagueFixtures {
        position: relative;
        overflow-y: hidden;
        transition: all 250ms ease-in;
        margin-bottom: 5px;

        .fixturesHeading {
          display: flex;
          align-items: center;
          background: variables.$heading-text-colour;
          color: variables.$heading-bg-colour;
          position: relative;
          z-index: 5;
          font-size: 0.75rem;

          .leagueLogoContainer {
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            margin-left: 0.5rem;
            margin-right: 0.5rem;

            #leagueLogo {
              height: 80%;
              width: auto;
              margin: auto;
            }
          }

          h3 {
            letter-spacing: 0.25rem;
          }
        }

        .fixtureBodies {
          ul {
            padding: 0;
            margin: 0;

            li {
              list-style: none;
              color: variables.$heading-text-colour;
              background-color: variables.$fixture-body-bg;

              .fixturesDate {
                text-align: center;
                font-size: 0.8rem;
                font-weight: bold;
                background-color: variables.$heading-bg-colour;
                color: variables.$heading-text-colour;
                padding: 0.5rem 0 0.5rem 0;
              }

              .fixtureBody {
                display: grid;
                grid-template-rows: auto auto;
                grid-template-columns: 5fr 1fr 5fr;
                align-items: center;
                font-weight: 630;
                letter-spacing: 0.05rem;
                transition: color 150ms ease-in, background-color 150ms ease-in;

                #home,
                #away {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  text-transform: capitalize;
                }

                #home {
                  justify-content: flex-end;
                }

                #away {
                  justify-content: flex-start;
                }

                #crest {
                  height: 1.5rem;
                  width: 1.5rem;
                  margin: 0.5rem;
                }

                #scoreContainer {
                  display: flex;
                  flex-flow: row;
                  justify-content: center;

                  #score {
                    background: variables.$heading-bg-colour;
                    color: variables.$heading-text-colour;
                    margin: 0.05rem;
                    font-weight: bold;
                    font-size: 1rem;
                    padding: 0.35rem;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                  }
                }

                #kickOff {
                  text-align: center;
                  margin: 0.05rem;
                  font-size: 0.9rem;
                  font-weight: 650;
                  letter-spacing: 0.15rem;
                }
              }

              #date {
                grid-column: span 3;
                text-align: center;
                font-size: 0.9rem;
                font-weight: bold;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                background-color: variables.$heading-bg-colour;
                color: variables.$heading-text-colour;
              }

              .fixtureBody:hover {
                background-color: variables.$fixture-body-bg-light;
                color: variables.$heading-bg-colour;
                cursor: pointer;
              }
            }
          }
        }

        .innerFixturesTransition-enter {
          transform: translateY(-100%);
          -webkit-transform: translateY(-100%);
          -moz-transform: translateY(-100%);
          position: relative;
          z-index: 1;
        }
        .innerFixturesTransition-enter-active {
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          transition: transform 250ms ease-in;
          position: relative;
          z-index: 1;
        }
        .innerFixturesTransition-exit {
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          position: relative;
          z-index: 1;
        }
        .innerFixturesTransition-exit-active {
          transform: translateY(-100%);
          -webkit-transform: translateY(-100%);
          -moz-transform: translateY(-100%);
          transition: transform 250ms ease-in;
          position: relative;
          z-index: 1;
        }
      }

      .noFixtures {
        display: flex;
        flex-flow: column;
        align-items: center;

        img {
          width: 40%;
        }

        h3 {
          color: rgba(0, 0, 0, 1);
          font-size: 1.2rem;
          letter-spacing: 0.2rem;
          margin: 0;
        }
      }
    }
  }

  .fixturesTransitionRight-enter {
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
  }
  .fixturesTransitionRight-enter-active {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transition: transform 200ms ease-in;
  }
  .fixturesTransitionRight-exit {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
  }
  .fixturesTransitionRight-exit-active {
    transform: translate(-110%);
    -webkit-transform: translate(-110%);
    -moz-transform: translate(-110%);
    transition: transform 200ms ease-in;
  }

  .fixturesTransitionLeft-enter {
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
  }
  .fixturesTransitionLeft-enter-active {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transition: transform 200ms ease-in;
  }
  .fixturesTransitionLeft-exit {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
  }
  .fixturesTransitionLeft-exit-active {
    transform: translate(110%);
    -webkit-transform: translate(110%);
    -moz-transform: translate(110%);
    transition: transform 200ms ease-in;
  }

  .fixturesTransitionOpacity-enter {
    opacity: 0%;
    transition: left 0ms linear;
  }
  .fixturesTransitionOpacity-enter-active {
    opacity: 100%;
    transition: opacity 250ms ease-in, left 0ms linear;
  }
  .fixturesTransitionOpacity-exit {
    opacity: 100%;
    transition: left 0ms linear;
  }
  .fixturesTransitionOpacity-exit-active {
    opacity: 0%;
    transition: opacity 250ms ease-in, left 0ms linear;
  }
}

@media screen and (max-width: 992px) {
  .fixturesContainer {
    margin-top: 0;
    margin-bottom: 0;
    background-color: variables.$heading-bg-colour;
    border-top: none;

    .fixtures {
      margin-top: 2rem;
      height: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .fixturesContainer {
    height: 100%;
    overflow-y: auto;

    .fixtures {
      margin-top: 6.1rem;

      .leagueFixturesContainer {
        padding-left: 0;
        padding-right: 0;

        .fixturesHeading {
          .leagueLogoContainer {
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            margin-left: 0.3rem;
            margin-right: 0.3rem;

            #leagueLogo {
              height: 95%;
              width: auto;
              margin: auto;
            }
          }
          h3 {
            font-size: 0.8rem;
          }
        }

        .fixtureBodies {
          .fixtureBody {
            #home,
            #away {
              font-size: 0.75rem;
            }
            #kickOff {
              font-size: 0.75rem;
            }

            #score {
              font-size: 1rem;
              padding-left: 0.35rem;
              padding-right: 0.35rem;
            }

            #crest {
              height: 1.35rem;
              width: 1.35rem;
            }

            #date {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
