@use '../assets/variables';

.header {
  display: flex;
  justify-content: center;

  a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    transition: all 0.2s ease-in;

    svg {
      width: 2rem;
      height: 2rem;
    }

    span {
      font-size: 0.9rem;
    }
  }

  a:hover {
    filter: brightness(80%);
  }

  #activePage {
    color: variables.$accent-colour;
  }
}

@media screen and (max-width: 992px) {
  .header {
    justify-content: space-evenly;

    h3 {
      margin: 0.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    a {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 0.5rem;

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}
