@use '../assets/variables';

.header {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  border-bottom: 3px solid variables.$accent-colour;
  transition: opacity 150ms ease-in;

  a {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 0.5rem 0 0.5rem 0;
    transition: all 0.2s ease-in;

    svg {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
    }

    span {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }

  a:hover {
    color: red;
  }

  #activePage {
    color: variables.$accent-colour;
  }
}

@media screen and (max-width: 992px) {
  .header {
    justify-content: space-evenly;

    a {
      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    border-bottom: none;
    margin-top: 0.5rem;

    a {
      flex-flow: column;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 0;

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}
