.header {
  display: flex;
  justify-content: center;
  background: rgb(22, 22, 22);
  color: white;

  h3 {
    margin: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.1s ease-in;
  }

  h3:hover {
    transform: scale(1.1);
  }
}
